body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

.prof {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
    transform: translateX(-200px);
    opacity: 0;
    animation: slideIn 5s ease forwards;
}

.profile-image {
    width: 300px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-info, .projects, .education {
    margin: 50px;
    padding: 20px;
    padding-left: 100px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

span {
    color: gray;
}

.edu, .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.school, .ci {
    width: 200px;
    max-width: 150%;
    height: auto;
    margin-top: 0;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

a {
    color: blue;
}

@media (max-width: 768px) {
    .prof, .info, .edu {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .education, .projects {
        margin: 20px;
        padding-left: 30px;
    }

    .profile-image {
        width: 80%;
    }

    .ci, .school {
        width: 120px;
        margin-top: 20px;
    }
}
