body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

.profile-image {
    width: 350px;
    height: auto;
    justify-content: center;
    object-fit: cover;
}

.projects, .education {
    margin: 50px;
    padding: 20px;
    padding-left: 50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info{margin: 50px;
    padding: 20px;
    padding-left: 50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

h2 {
    color: #333;
}

span{color: gray;}

.prof{display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
    transform: translateX(-200px);
    opacity: 0;
    animation: slideIn 5s ease forwards;}


.edu{display: flex;
     justify-content: space-between;}

.info{display: flex;
      justify-content: space-between;}


@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.ci{height: 200px;
    width: 250px;
    margin-top: 15px;
    }

a{color: blue;}




@media (max-width: 900px) {
    .prof, .info, .edu {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .education, .projects {
        margin: 20px;
        padding-left: 30px;
    }

    .profile-image {
        width: 80%;
    }

    .ci, .school {
        width: 120px;
        margin-top: 20px;
    }
}
